{% extends "base.html" %}
{% load static %}
{% block metadescription %}

    {{product.description|truncatewords:155}}

{% endblock metadescription %}

{% block title %}
    search
{% endblock title %}
{% block content %}
<div>
    <p class="text-center search_text">Showing results for : "{{query}}"</p>
</div>
<div class="container">
    <div class="row">
        {% for i in products %}         
            <div class="card" style="width: 20rem;">
                <a href="{{i.get_url}}"> <img src="{{i.image.url}}" class="card-img-top" alt="{{i.name}}"></a>
                    <div class="card-body">
                        <h5 class="card-title">{{i.name}}</h5>
                        <p class="card-text">₹{{i.price}}</p>
                    </div>
            </div>
            {% empty %}           
            <div class="row mx-auto">
                <p class="text-center search_text"> No result found</p>
            </div>
        {% endfor %}
    </div> 
</div>        
{% endblock content %}

